.checkout-product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info>button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.checkoutProduct__image {
  /* object-fit: contain; */
  width: 200px;
  height: 200px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__tittle {
  font-size: 17px;
  font-weight: 800;
}



/* 
='checkout-product'><img className='checkoutProduct__image'

src= {
  props.image
}

alt="" /><div className="checkoutProduct__info"><p className="checkoutProduct__tittle"> {
  props.title
}

</p><p className="checkoutProduct__price"><small>$</small><strong> {
  props.price
}

</strong></p><div className="checkoutProduct__rating"> */